<<filename:l:skin/adminhtml/default/default/[module]/:"[module]-admin">>
<<var:n:module prefix => [Prefix]>>
<<var:l:module prefix => [prefix]>>
<<var:c:module name => [Module]>>
<<var:l:module name => [module]>>

.[module]-notice img.helogo {float:right;}

ul.tabs a.[module]-section span, 
ul.tabs a.[module]-section:hover span {
	background: url(heicon.jpg) no-repeat 17px 3px;
	overflow: hidden;
	padding: 0;
	padding-left:45px;
	width: 120px;
	height: 24px;
	line-height: 24px;
}